@import url('https://fonts.googleapis.com/css2?family=Caprasimo&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Readex+Pro&display=swap');
body{
    background-image:linear-gradient(#001e31
,#034cbb);
height: 100vh;
display: flex;
justify-content: center;
align-items: center;
height: 100%;
}
a{
    text-decoration: non;
color:#2665c4 ;
    
}
.table{
    background-image: 
    linear-gradient(to left, #000000,#00000067),
    url(about.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    width: 98%;
    height:1225px;
    
}
.table:hover{
    background-image: 
    linear-gradient(to left, #000000 ,transparent),
    url(about.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    transition: 5s;  
}
.text h2{
    font-family: 'Caprasimo', 'cursive';
    font-size: 39px;
    
    padding: 1px ;
    margin-bottom:-10px ;
    color:rgba(255, 255, 255, 0.479);
    margin-left: 20px;
}
.text h2:hover{
    color:rgb(255, 255, 255);
    font-size: 50px;
    transition: 1s;
    text-shadow:0px 0px 5px black ;
    text-transform:uppercase;
    
}
.b{
    color: white;
    font-size: xx-large;
    justify-content: center;
    width: 20%;
    display: inline;
    margin: 10px;
    font-family: 'Righteous', cursive;
    padding-top:100px;
    text-shadow: 0px 0px 5px black;
}
.b:hover{
    color:rgb(255, 255, 255);
    font-size: 40px;
    width: 20%;
    display: inline;
    font-family: 'Righteous', cursive;
    text-decoration: underline #ffffff;
    transition:1s;
}
.b:active{
    color: #7d00b8;
    text-decoration: underline #7d00b8 ;
    
}
.o{
    background-image: url(ana.jpg);
}
p{
    margin-left: 30px;
    font-size: 30px;
    color: #2665c4ad;
    font-weight: bold;
    font-family: 'Caprasimo', 'cursive';
    word-spacing:2px ;
    
}
.e{
    font-size: x-large;
    font-family: 'Caprasimo', 'cursive';
    word-spacing: 2px;
}
p:hover
{
    color: #2665c4;

}
h1{
    color:rgb(255, 255, 255);
    font-size: 60px;
    transition: 1s;
    text-shadow:0px 0px 5px black ;
    text-transform:uppercase;
    margin-left: 50px;
    text-decoration: underline #ffffffb9;
}
h1:hover{
    text-decoration: underline #2665c4;
    transition: 1s;
}
