
  @import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200;400&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
  @import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&display=swap');
    body{
        background-image:linear-gradient(#2e0f01
    ,#8b2c00);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    }
  
    .table{
        background-image: 
        linear-gradient(to right, #000000,#00000067),
        url(lll.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
        width: 98%;
       height:600px ;
    }
    .table:hover{
        background-image: 
        linear-gradient(to right, #000000 ,transparent),
        url(lll.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        
    }
    header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
     
        

}

 a:active{
    color: brown;
text-decoration: underline;
}
.b{
    color: white;
    font-size: xx-large;
    justify-content: center;
    width: 50%;
    display: inline;
    margin: 10px;
    font-family: 'Righteous', 'cursive';
    padding-top:100px;
    font-size: xx-large;
    text-decoration: none;
    margin-bottom: 10px;
}
.b:hover{
    color: #8b2c00;
    font-size: 40px;
    width: 20%;
    display: inline;
    font-family: 'Righteous', cursive;
    text-decoration: underline #8b2c00;
    transition: 1s;
    margin-bottom: 10px;
}
.b:active{
    color: #7d00b8;
    text-decoration: underline #7d00b8 ;
    
}
.l{
    background-color:transparent;
    border:  #8b2c00;
    
    border-radius: 10px;
    cursor: pointer;
    margin-top: -20px;
    font-family: 'Castoro Titling','cursive';
    display: grid;
    color: #8b2c00a1;
    text-decoration: none;
    font-size: 50px;
}
.l:hover{
    color: #8b2c00;
    padding: 20px 20px;
    border: double 9px #8b2c00;
    transition: 1s;
    
}
.l:active{
    color: #00ccff;
    text-decoration: underline #00cdf1 ;
    border: double 9px #00ccff;

    
}
ul{
    margin-top:100px;
}